body{
    background-color: rgb(0, 0, 0);
    color:white;
}
.idea{
    color:#FFE0EE;
	font-family:"lucida";
	font-size:22px
}
#navaba{
    background-color: black;
    
}
#bubicasta{
    background-color: rgb(190, 120, 255);
    height: 30%;
    width: 30%;
    margin: 1%;
}
#jelov{
    background-color: rgb(248, 255, 156);
    height: 30%;
    width: 40%;
    margin: 1%;
    color: black;
}
#plav{
    background-color: rgb(55, 92, 255);
    height: 40%;
    width: 40%;
    margin: 1%;
}

.ikon{
	width:95%;
	height: 95%;
}

.in{
	width:15%;
	height:10%;
	background-color:#47132A;
	color:#FFE0EE;
	min-height:40px;
	min-width:90px;
	margin:1%;
}
#log{
	margin-left:30%
}
#logo{
	color:#FFE0EE;
	font-size:30px;
	font-family:"lucida";
	text-align: center;
}
.objava{
   border-width: 2px;
    border-radius: 1px;
    border-style:solid; 
	width: 20%;
	height: 30%;
}













