body{
    background-color: rgb(0, 0, 0);
    color:white;
}
.idea{
    color:rgb(255, 212, 246);
}
#navaba{
    background-color: black;
    
}
#bubicasta{
    background-color: rgb(190, 120, 255);
    height: 300px;
    width: 300px;
    margin: 10px;
}
#jelov{
    background-color: rgb(248, 255, 156);
    height: 300px;
    width: 400px;
    margin: 10px;
    color: black;
}
#plav{
    background-color: rgb(55, 92, 255);
    height: 300px;
    width: 400px;
    margin: 10px;
}